<div class="container mt-3">
    <div class="card-header">
        <h2 class="my-4 text-center">Sobre a Engelcad</h2>
    </div>
    <div class="card-body">
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id arcu augue. Phasellus non lacus
            malesuada nibh ultrices ultrices molestie vel est. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos. In at venenatis libero. Ut in velit sit amet lacus facilisis
            ultrices at in ex. Quisque a molestie urna, vel lacinia neque. Nulla luctus sed felis vel suscipit.
            Morbi
            ultricies ultricies iaculis. Quisque non arcu gravida, sagittis metus vitae, iaculis ante. Pellentesque
            non
            massa a nulla elementum aliquam aliquam gravida turpis. Nullam aliquam lacus eu aliquet facilisis.
        </p>
    </div>
</div>