<div class="container mt-3">
    <div class="card-header">
        <h1 class="my-4 text-center">Sobre a Engelcad</h1>
    </div>
    <div class="card-body">
        <p class="text-justify h5">
            <strong> A EngelCAD Projetos Elétricos </strong> atua na área de Engenharia de projetos elétricos residenciais, comerciais e
            industriais.
            Para as disciplinas de automação industrial, elétrica, instrumentação e redes industriais.
        </p>
        <p class="text-justify h5">
            Prestamos serviços de projetos elétricos detalhados, tais como:
        </p>
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item h5">Projetos de painéis de automação (PLC, HVAC);</li>
            <li class="list-group-item h5">Projetos de painéis elétricos de BT e MT
                (Acionamentos CCM, alimentações, tomadas, iluminação...);</li>
            <li class="list-group-item h5">Projetos de rotas de cabos (infraestruturas);</li>
            <li class="list-group-item h5">Projetos de instrumentação (redes, interligações);</li>
            <li class="list-group-item h5">Projetos de redes industriais;</li>
            <li class="list-group-item h5">Projetos de aterramento e SPDA;</li>
            <li class="list-group-item h5">Projetos Luminotécnicos;</li>
            <li class="list-group-item h5">Consultoria Elétrica e Automação;</li>
            <li class="list-group-item h5">Sistemas Fotovoltaicos;</li>
            <li class="list-group-item h5">Projetos elétricos em 3D residenciais, prediais e comerciais;</li>
            <li class="list-group-item h5">Montagens Eletromecânicas.</li>
        </ul>
        <p class="text-justify h5 mt-3">
            Trabalhamos com softwares: AutoCAD, Eplan, Lumine, Dialux, WOCA, REVIT, dentre outros. Com colaboradores
            altamente
            qualificados, a empresa é referência pela excelência nos serviços prestados e pelo comprometimento com os
            prazos de
            entrega. 
        </p>
        <p class="text-justify h5">
            A EngelCAD atende plantas industriais, indústrias da construção civil e profissionais da área de arquitetura
            com excelência.
        </p>
    </div>
</div>