<div class="container mt-3">
    <div class="card-header">
        <h2 class="my-4 text-center">Contate-nos</h2>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card-header">
                <h2 class="text-justify">Onde você pode nos encontrar</h2>
            </div>
            <div class="card-body">
                <p class="text-justify text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id arcu augue. Phasellus non lacus
                    malesuada nibh ultrices ultrices molestie vel est. Class aptent taciti sociosqu ad litora torquent
                    per
                </p>
                <h4 class="text-muted">
                    Endereço:
                </h4>
                <h5 class="">
                    Rua Exemplo, número 000.<br>
                    Bairro Exemplo 1
                </h5>
                <br>
                <h4 class="text-muted">
                    Telefone:
                </h4>
                <h5 class="">
                    (38) 00000-0000
                </h5>
                <br>
                <h4 class="text-muted">
                    E-mail:
                </h4>
                <h5 class="">
                    a@a.com
                </h5>
            </div>
        </div>
        <div class="col">
            <div class="card-header">
                <h2 class="text-justify">Deixe-nos uma mensagem</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="">Digite seu nome</label>
                        <input type="text" class="form-control" id="" placeholder="Meu nome é">
                    </div>
                    <div class="form-group">
                        <label for="">Digite seu telefone</label>
                        <input type="tel" class="form-control" id="" placeholder="Telefone">
                    </div>
                    <div class="form-group">
                        <label for="">Digite seu e-mail</label>
                        <input type="email" class="form-control" id="" placeholder="Meu e-mail">
                    </div>
                    <div class="form-group">
                        <label for="">Digite sua mensagem</label>
                        <textarea class="form-control" id="" rows="5" 
                        placeholder="Digite sua mensagem"></textarea>
                    </div>
                    <button class="btn btn-outline-dark">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>