<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/">Engelcad</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Quem somos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Portfólio</a>
        </li>
    </ul>
</nav>